USE [master]
GO
/****** Object:  Database [MomentumDB]    Script Date: 20-10-2023 12:02:35 ******/
CREATE DATABASE [MomentumDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MomentumDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\MomentumDB.mdf' , SIZE = 10432KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MomentumDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\MomentumDB_log.ldf' , SIZE = 36288KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MomentumDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MomentumDB]
GO
/****** Object:  User [sauser]    Script Date: 20-10-2023 12:02:35 ******/
CREATE USER [sauser] FOR LOGIN [sauser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [sauser]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [sauser]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [sauser]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [sauser]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [sauser]
GO
ALTER ROLE [db_datareader] ADD MEMBER [sauser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [sauser]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [sauser]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [sauser]
GO
/****** Object:  Table [dbo].[DAILY_PRICE]    Script Date: 20-10-2023 12:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAILY_PRICE](
	[DAILY_PRICE_ID] [int] IDENTITY(1,1) NOT NULL,
	[EQ_SYMBOL_ID] [int] NULL,
	[CUR_DATE] [date] NULL,
	[PREVIOUS_CLOSE_PRICE] [float] NULL,
	[OPEN_PRICE] [float] NULL,
	[HIGH_PRICE] [float] NULL,
	[LOW_PRICE] [float] NULL,
	[CLOSE_PRICE] [float] NULL,
	[TRADED_VALUE] [float] NULL,
	[TRADED_VOLUME] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[DAILY_PRICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EQUITY_SYMBOL]    Script Date: 20-10-2023 12:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EQUITY_SYMBOL](
	[EQ_SYMBOL_ID] [int] IDENTITY(1,1) NOT NULL,
	[EQ_SYMBOL] [varchar](100) NULL,
	[EQ_NAME] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[EQ_SYMBOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HIGH_LOW_PRICE]    Script Date: 20-10-2023 12:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HIGH_LOW_PRICE](
	[HIGH_LOW_PRICE_ID] [int] IDENTITY(1,1) NOT NULL,
	[EQ_SYMBOL_ID] [int] NULL,
	[WEEK_52_HIGH] [float] NULL,
	[WEEK_52_LOW] [float] NULL,
	[CUR_DATE] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[HIGH_LOW_PRICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NIFTY_100]    Script Date: 20-10-2023 12:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NIFTY_100](
	[NIFTY_100_ID] [int] IDENTITY(1,1) NOT NULL,
	[EQ_SYMBOL_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NIFTY_100_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NIFTY_50]    Script Date: 20-10-2023 12:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NIFTY_50](
	[NIFTY_50_ID] [int] IDENTITY(1,1) NOT NULL,
	[EQ_SYMBOL_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NIFTY_50_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NIFTY_500]    Script Date: 20-10-2023 12:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NIFTY_500](
	[NIFTY_500_ID] [int] IDENTITY(1,1) NOT NULL,
	[EQ_SYMBOL_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NIFTY_500_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NIFTY_MICROCAP_250]    Script Date: 20-10-2023 12:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NIFTY_MICROCAP_250](
	[NIFTY_MICROCAP_250_ID] [int] IDENTITY(1,1) NOT NULL,
	[EQ_SYMBOL_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NIFTY_MICROCAP_250_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NIFTY_MIDCAP_100]    Script Date: 20-10-2023 12:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NIFTY_MIDCAP_100](
	[NIFTY_MIDCAP_100_ID] [int] IDENTITY(1,1) NOT NULL,
	[EQ_SYMBOL_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NIFTY_MIDCAP_100_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NIFTY_MIDCAP_150]    Script Date: 20-10-2023 12:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NIFTY_MIDCAP_150](
	[NIFTY_MIDCAP_150_ID] [int] IDENTITY(1,1) NOT NULL,
	[EQ_SYMBOL_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NIFTY_MIDCAP_150_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NIFTY_MIDCAP_50]    Script Date: 20-10-2023 12:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NIFTY_MIDCAP_50](
	[NIFTY_MIDCAP_50_ID] [int] IDENTITY(1,1) NOT NULL,
	[EQ_SYMBOL_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NIFTY_MIDCAP_50_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NIFTY_MIDSMALLCAP_400]    Script Date: 20-10-2023 12:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NIFTY_MIDSMALLCAP_400](
	[NIFTY_MIDSMALLCAP_400_ID] [int] IDENTITY(1,1) NOT NULL,
	[EQ_SYMBOL_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NIFTY_MIDSMALLCAP_400_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NIFTY_NEXT_50]    Script Date: 20-10-2023 12:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NIFTY_NEXT_50](
	[NIFTY_NEXT_50_ID] [int] IDENTITY(1,1) NOT NULL,
	[EQ_SYMBOL_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NIFTY_NEXT_50_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NIFTY_SMALLCAP_100]    Script Date: 20-10-2023 12:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NIFTY_SMALLCAP_100](
	[NIFTY_SMALLCAP_100_ID] [int] IDENTITY(1,1) NOT NULL,
	[EQ_SYMBOL_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NIFTY_SMALLCAP_100_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NIFTY_SMALLCAP_250]    Script Date: 20-10-2023 12:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NIFTY_SMALLCAP_250](
	[NIFTY_SMALLCAP_250_ID] [int] IDENTITY(1,1) NOT NULL,
	[EQ_SYMBOL_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NIFTY_SMALLCAP_250_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NIFTY_SMALLCAP_50]    Script Date: 20-10-2023 12:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NIFTY_SMALLCAP_50](
	[NIFTY_SMALLCAP_50_ID] [int] IDENTITY(1,1) NOT NULL,
	[EQ_SYMBOL_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NIFTY_SMALLCAP_50_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NIFTY_TOTAL_750]    Script Date: 20-10-2023 12:02:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NIFTY_TOTAL_750](
	[NIFTY_TOTAL_750_ID] [int] IDENTITY(1,1) NOT NULL,
	[EQ_SYMBOL_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NIFTY_TOTAL_750_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[DAILY_PRICE]  WITH CHECK ADD FOREIGN KEY([EQ_SYMBOL_ID])
REFERENCES [dbo].[EQUITY_SYMBOL] ([EQ_SYMBOL_ID])
GO
ALTER TABLE [dbo].[HIGH_LOW_PRICE]  WITH CHECK ADD FOREIGN KEY([EQ_SYMBOL_ID])
REFERENCES [dbo].[EQUITY_SYMBOL] ([EQ_SYMBOL_ID])
GO
ALTER TABLE [dbo].[NIFTY_100]  WITH CHECK ADD FOREIGN KEY([EQ_SYMBOL_ID])
REFERENCES [dbo].[EQUITY_SYMBOL] ([EQ_SYMBOL_ID])
GO
ALTER TABLE [dbo].[NIFTY_50]  WITH CHECK ADD FOREIGN KEY([EQ_SYMBOL_ID])
REFERENCES [dbo].[EQUITY_SYMBOL] ([EQ_SYMBOL_ID])
GO
ALTER TABLE [dbo].[NIFTY_500]  WITH CHECK ADD FOREIGN KEY([EQ_SYMBOL_ID])
REFERENCES [dbo].[EQUITY_SYMBOL] ([EQ_SYMBOL_ID])
GO
ALTER TABLE [dbo].[NIFTY_MICROCAP_250]  WITH CHECK ADD FOREIGN KEY([EQ_SYMBOL_ID])
REFERENCES [dbo].[EQUITY_SYMBOL] ([EQ_SYMBOL_ID])
GO
ALTER TABLE [dbo].[NIFTY_MIDCAP_100]  WITH CHECK ADD FOREIGN KEY([EQ_SYMBOL_ID])
REFERENCES [dbo].[EQUITY_SYMBOL] ([EQ_SYMBOL_ID])
GO
ALTER TABLE [dbo].[NIFTY_MIDCAP_150]  WITH CHECK ADD FOREIGN KEY([EQ_SYMBOL_ID])
REFERENCES [dbo].[EQUITY_SYMBOL] ([EQ_SYMBOL_ID])
GO
ALTER TABLE [dbo].[NIFTY_MIDCAP_50]  WITH CHECK ADD FOREIGN KEY([EQ_SYMBOL_ID])
REFERENCES [dbo].[EQUITY_SYMBOL] ([EQ_SYMBOL_ID])
GO
ALTER TABLE [dbo].[NIFTY_MIDSMALLCAP_400]  WITH CHECK ADD FOREIGN KEY([EQ_SYMBOL_ID])
REFERENCES [dbo].[EQUITY_SYMBOL] ([EQ_SYMBOL_ID])
GO
ALTER TABLE [dbo].[NIFTY_NEXT_50]  WITH CHECK ADD FOREIGN KEY([EQ_SYMBOL_ID])
REFERENCES [dbo].[EQUITY_SYMBOL] ([EQ_SYMBOL_ID])
GO
ALTER TABLE [dbo].[NIFTY_SMALLCAP_100]  WITH CHECK ADD FOREIGN KEY([EQ_SYMBOL_ID])
REFERENCES [dbo].[EQUITY_SYMBOL] ([EQ_SYMBOL_ID])
GO
ALTER TABLE [dbo].[NIFTY_SMALLCAP_250]  WITH CHECK ADD FOREIGN KEY([EQ_SYMBOL_ID])
REFERENCES [dbo].[EQUITY_SYMBOL] ([EQ_SYMBOL_ID])
GO
ALTER TABLE [dbo].[NIFTY_SMALLCAP_50]  WITH CHECK ADD FOREIGN KEY([EQ_SYMBOL_ID])
REFERENCES [dbo].[EQUITY_SYMBOL] ([EQ_SYMBOL_ID])
GO
ALTER TABLE [dbo].[NIFTY_TOTAL_750]  WITH CHECK ADD FOREIGN KEY([EQ_SYMBOL_ID])
REFERENCES [dbo].[EQUITY_SYMBOL] ([EQ_SYMBOL_ID])
GO
USE [master]
GO
